@import "bootstrap/scss/bootstrap";

* {
    font-family: 'DM Serif Display', serif;
    font-family: 'Ubuntu', sans-serif;

}

@media screen and (max-width : 576px) {
    * {
        font-size: small;
    }
}